body{background: #f0f0f5;}
.headtitle{width:100%;padding: 0 4%; height: 2rem;line-height: 2rem;background: #14a85d;position: fixed; top:0;left: 0;text-align: center;}
.headtitle img{width: 0.49rem;height: 0.84rem;position: absolute;top:0.58rem;left:4%;}
.headtitle p{color: #fff;font-size:0.84rem;text-align: center;}
.maindtl{width: 100%; overflow: hidden;position: absolute;top:2rem;border-bottom: 1px solid #e6e6e6; box-sizing: border-box;  bottom:2.96rem;  left: 0;  right: 0;overflow-y: scroll;}
.maindtl .shouhuo{width: 100%;padding:0.84rem 0.69rem;background: #fff;overflow: hidden;align-items:center;}
.maindtl .shouhuo img.sh{width: 1.07rem;height: 1.07rem;float: left;margin-right:0.46rem;}
.maindtl .shouhuo .addrbox{float: left;width: 80%;overflow: hidden;}
.maindtl .shouhuo .addrbox h6{font-size: 0.75rem;color: #333333;font-weight: normal;}
.maindtl .shouhuo .addrbox p{font-size: 0.65rem;color: #666666;margin-top:0.3rem;}
.maindtl .shouhuo .addrbox p span{margin-right:0.69rem;}
.maindtl .shouhuo img.more{width: 0.4rem;height:0.67rem;float: right;margin-top:0.7rem;}
.alllist{width: 100%; overflow: hidden;}
.product{width: 100%; overflow: hidden;padding:0.69rem 4%;background: #fff;margin: 0.46rem 0;}
.product img{width: 2.33rem;height: 2.33rem;float: left;}
.product .sp{width: 60%; float: left;height: 2.33rem;margin-left: 0.46rem;}
.product .sp h6{font-size: 0.65rem;color: #333333;font-weight: normal;width:100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.product .sp p{font-size: 0.56rem;color: #666666;margin-top: 0.46rem;}
.product .price{font-size: 0.65rem;color: #EF4F1D;float: right;}
.sendbox{width: 100%;overflow: hidden; background: #fff;}
.sendbox .sendnav{width: 92%; padding: 0 4% 0 0;margin-left: 4%;;border-bottom: 1px solid #e6e6e6; overflow: hidden;}
.sendbox .sendnav h6{font-size: 0.6rem;color: #333333;line-height:2.19rem;font-weight: normal;float: left;}
.sendbox .sendnav .slbox{float: right;height:2.19rem;display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;}
.sendbox .sendnav .slbox img{width:0.79rem;height:0.79rem;}
.sendbox .sendnav .slbox span{font-size: 0.65rem;color: #333333;margin: 0 0.46rem;}
.sendbox .sendnav p{font-size: 0.65rem;color: #333333;float: right;line-height:2.19rem;}
.sendbox .sendnav .liuyan{display: none; width: 78%;height: 4.2rem;font-size: 0.65rem;color: #333333;margin: 0.75rem 0 0.4rem 0;}
.sendbox .sendnav .lytext{display: none; width: 78%;line-height: 1.1rem; font-size: 0.65rem;color: #333333;margin: 0.5rem 0;overflow: hidden;}
.sendbox .sendnav .liuyan.active,.sendbox .sendnav .lytext.active{display: block; }
.pricebox{width: 100%;line-height: 2.56rem;padding: 0 0.69rem;}
.pricebox h5{text-align: right;font-size: 0.65rem;color: #333333;font-weight: normal;}
.pricebox h5 i{font-style:normal;}
.pricebox h5 span{font-size: 0.84rem;color: #FD5854;}
.paytypebox{width: 100%;overflow: hidden;display: none;}
.paytypebox.active{display: block;}
.paytypebox h1{font-size: 0.65rem;color: #333333;font-weight: normal;margin: 0 4% 0.35rem 4%;}
.paytypebox .paytype{width: 100%;height: 2.45rem;line-height: 2.45rem; padding: 0 4%;background: #fff;border-bottom: 1px solid #e6e6e6;}
.paytypebox .paytype img.wx{width: 1.02rem;height: 0.95rem;float: left;margin: 0.65rem 0.46rem 0 0;}
.paytypebox .paytype img.zfb{width: 0.98rem;height: 0.98rem;float: left;margin: 0.65rem 0.46rem 0 0;}
.paytypebox .paytype p{font-size: 0.65rem;color: #333333;float: left;}
.paytypebox .paytype img.check{width: 0.93rem;height: 0.93rem;float: right;margin: 0.77rem 0 0 0;}
.alipaybox{width: 100%;height: 100%;}


.footpay,.qdpay{display: none; width: 100%;height: 2.28rem;position: fixed; bottom:0;left: 0;}
.qdpay{text-align: center;line-height: 2.28rem;color: #fff;background: #14a85d;font-size: 0.69rem;}
.footpay.active,.qdpay.active{display: block; }
.footpay .paynav{width: 50%;height: 2.28rem;float: left;display: flex;align-items: center;justify-content: center;}
.footpay .paynav.white{background: #fff;}
.footpay .paynav.green{background: #14a85d;}
.footpay .paynav.white p{color: #333;}
.footpay .paynav.green p{color: #fff;}
.footpay .paynav .gwcbox{width: 1rem;height: 0.9rem;position: relative;}
.footpay .paynav .gwcbox img{width: 1rem;height: 0.9rem;}
.footpay .paynav .gwcbox span{display: block;width:0.75rem;height:0.75rem;text-align:center;font-size: 0.56rem; line-height:0.75rem;  border-radius: 50%;background: #14a85d;position:absolute;top:-0.41rem;right:-0.41rem;z-index:3;}
.footpay .paynav p{font-size: 0.69rem;}
.footpay .paynav p span{color: #EF4F1D;}











