body{background: #f0f0f5;}
.headtitle{width:100%;padding: 0 4%; height: 2rem;line-height: 2rem;background: #fff;position: fixed;top:0;left: 0;text-align: center;}
.headtitle img{width: 0.49rem;height: 0.84rem;position: absolute;top:0.58rem;left:4%;}
.headtitle p{color: #333333;font-size:0.84rem;text-align: center;}
.headtitle span{display: block;height: 2rem;line-height: 2rem;padding: 0 4%;position: absolute;top:0;right:0;color: #14A85D;font-size:0.65rem;}
.alllist{width: 100%;padding: 0 4%; display: flex;flex-wrap: wrap;position: absolute;top:2.46rem;box-sizing: border-box;  bottom:0;  left: 0;  right: 0;overflow-y: scroll;}

.alllist.active{bottom: 2.2rem; }
.alllist ul{width: 100%;height:100%;}
.alllist ul li{width: 6.5rem;height: 11.5rem;overflow: hidden;background: #fff;float: left;margin-right: 0.6rem;margin-bottom: 0.46rem;}
.alllist ul li a{display: block;width: 100%;height: 100%;}
.alllist ul li img.sp{width: 7rem;height: 7rem;}
.alllist ul li p{height: 2rem;color:#333333;font-size:0.75rem;line-height:1.05rem;margin:0.46rem;text-overflow: -o-ellipsis-lastline;overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.alllist ul li .psbox{padding:0 0.46rem;overflow: hidden;padding-bottom: 0.4rem;}
.alllist ul li .psbox span{color:#EF4F1D;font-size:0.84rem;float: left;}
.alllist ul li .psbox img.sc{display: none;width:0.93rem;height:0.93rem;float: right;}
.alllist ul li.active .psbox img.sc{display: block;}
.alllist ul li:nth-child(2n){margin-right: 0;}
.btombox{display: none;width: 100%;height:2.22rem;background: #fff;position: fixed;bottom: 0;left: 0;z-index: 5; padding: 0 4%;}
.btombox.active{display: block;}
.btombox img{width:0.93rem;height:0.93rem;margin:0.63rem 0.42rem 0 0;float: left; }
.btombox p{color:#333333;font-size:0.65rem;line-height:2.22rem;float: left;margin: 0;padding: 0;}
.btombox span{display: block;width: 2.8rem;height: 1.3rem;line-height: 1.3rem;text-align: center; color:#ffffff;font-size:0.65rem;background: #14a85d;border-radius: 0.07rem; margin-top:0.46rem;float: right;}

/* 弹窗 */
.screen{display: none;width: 100%; height: 100%;position: fixed;top: 0;  left: 0; z-index: 1000;background:rgba(0,0,0,.5); overflow: hidden; vertical-align: middle;}
.screen.active{display: block;}
.screen .screenbox{width: 72%;background: #fff;border-radius: 0.46rem;position:fixed;top:30%; left: 14%;z-index: 1001;overflow: hidden;}
.screen .screenbox h1{font-size: 0.84rem;color: #333333;font-weight: normal;line-height: 3rem;text-align: center;}
.screen .screenbox p{font-size: 0.65rem;color: #333333;text-align: center;margin-bottom: 0.69rem;}
.screen .screenbox .btnbox{width: 100%;height: 2rem;line-height: 2rem;border-top:1px solid #e6e6e6;}
.screen .screenbox .qrbtn{width: 50%;height: 2rem;text-align: center;font-size: 0.75rem;color: #157EFB;float: left;}
.screen .screenbox .qrbtn.qx{color: #666;}



